<!--BUTTON HEADERS-->
<section>
    <div class="table-responsive">
        <table width="100%">
            <tbody>
                <tr>
                    <td width="10%" align="center" valign="middle">
                        <a type="button" asp-controller="ChallengeType" asp-action="GetChallengeTypes" style="display:inline-block; width:100%; padding-left:1em;padding-right:1em">
                            <div class="btn  btn-inverse-primary" style="display:inline-block; width:100%"><span style="color:mediumpurple">Challenge Types</span></div>
                        </a>
                    </td>
                    <td width="10%" align="center" valign="middle">
                        <a type="button" asp-controller="InitiativeType" asp-action="GetInitiativeTypes" style="display:inline-block; width:100%; padding-left:1em;padding-right:1em">
                            <div class="btn  btn-inverse-primary" style="display:inline-block; width:100%"><span style="color:mediumpurple">Initiative Types</span></div>
                        </a>
                    </td>
                    <td width="10%" align="center" valign="middle">
                        <a type="button" asp-controller="TaskType" asp-action="GetTaskTypes" style="display:inline-block; width:100%; padding-right:1em">
                            <div class="btn  btn-inverse-primary" style="display:inline-block; width:100%"><span style="color:mediumpurple">Task Types</span></div>
                        </a>
                    </td>
                    <td width="10%" align="center" valign="middle">
                        <a type="button" asp-controller="NotificationGroup" asp-action="GetNotificationGroups" style="display:inline-block; width:100%; padding-right:1em">
                            <div class="btn  btn-success" style="display:inline-block; width:100%"><span style="color:black">Notification Groups/Quorums</span></div>
                        </a>
                    </td>
                    <td width="10%" align="center" valign="middle">
                        <a type="button" asp-controller="User" asp-action="GetUsers" style="display:inline-block; width:100%; padding-right:1em">
                            <div class="btn  btn-warning" style="display:inline-block; width:100%">Users</div>
                        </a>
                    </td>
                    <td width="10%" align="center" valign="middle">
                        <a type="button" asp-controller="Role" asp-action="GetRoles" style="display:inline-block; width:100%; padding-right:1em">
                            <div class="btn  btn-warning" style="display:inline-block; width:100%">Roles</div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>