<section class="card-header">
    <h3>Call Management</h3>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <img src="@Url.Content(ViewBag.BannerImageUrl)" alt="Banner Image" class="img-fluid" />
        </div>
    </div>
    <br />
</section>
<partial name="_SystemTablesButtonTabs" />